name: Build PRs

on:
  pull_request:
    branches:
      - develop

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.5.2
      - name: Set up JDK 21
        uses: actions/setup-java@v3.11.0
        with:
          distribution: 'temurin'
          java-version: 21
          cache: 'gradle'
      - name: Build
        run: ./gradlew build --no-daemon
