name: Build & deploy release

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.5.2
      - name: Set up JDK 17
        uses: actions/setup-java@v3.11.0
        with:
          distribution: 'temurin'
          java-version: 17
          cache: 'gradle'
      - name: Set version to release
        run: ./gradlew --no-daemon unSnapshotVersion
      - name: Commit release version
        run: ./gradlew --no-daemon commitVersion
      - name: Build & deploy to Nexus
        env:
          REPO_PASSWORD: ${{ secrets.NEXUS_CI }}
        run: ./gradlew --no-daemon publish
      - name: Push to master
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
