name: Build & deploy snapshot

on:
  push:
    branches:
      - develop

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: 8
      - name: Restore .m2 cache
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Build & deploy to Nexus
        env:
          NEXUS_USER: ci
          NEXUS_PASS: ${{ secrets.NEXUS_CI }}
        run: mvn --batch-mode --update-snapshots --settings deploy.xml clean deploy
