name: Build & deploy snapshot

on:
  push:
    branches:
      - develop

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up JDK 8
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: 8
          cache: 'gradle'

      - name: Build & deploy to Nexus
        env:
          REPO_PASSWORD: ${{ secrets.NEXUS_CI }}
        run: ./gradlew build --no-daemon
