name: Build & deploy snapshot

on:
  push:
    branches:
      - develop

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.5.2
      - name: Set up JDK 21
        uses: actions/setup-java@v3.11.0
        with:
          distribution: 'temurin'
          java-version: 21
          cache: 'gradle'
      - name: Build
        run: ./gradlew build --no-daemon
      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: "build/libs/*.jar"
      - name: Deploy to Nexus
        env:
          REPO_PASSWORD: ${{ secrets.NEXUS_CI }}
        run: ./gradlew publish --no-daemon
